<div >
   <form class="form-inline">
    <div class="form-group">
      <label for="email">Folder Name </label>
      <input type="text" class="form-control" id="foldername" ng-model="folderName"  placeholder="Enter Folder Name Of Images">
    </div>
    <button type="submit" ng-click="scanFolder()" class="btn btn-default">Submit</button>
  </form>
    <input type="text" class="form-control" id="pageNumber" ng-model="pageNo" placeholder="Enter Page no Which you want to crop">
    <div class="col-md-5 max-height">
        <div class="content" style="height:70vh;" >
            <canvas-viewer src="formdata.fileInput" title="TITLE" options="options"></canvas-viewer>
        </div>
    </div>
    <div class="col-md-4 max-height">
        <select id="selectType">
            <option>Photo</option>
            <option>Signature</option>
        </select>

    </div>
    <div class="col-md-4 max-height">
        <button type="submit" ng-click="convertimg()">Convert </button>     
    </div>
    <div align="right"  class="col col-md-8">
        <button ng-click="move(-4, 0)" accesskey="1" class="glyphicon glyphicon-arrow-left btn btn-info btn-fill btn-wd"><br />1</button>
        <button ng-click="move(4, 0)" accesskey="2" class="glyphicon glyphicon-arrow-right	 btn btn-info btn-fill btn-wd"><br />2</button>
        <button ng-click="move(0, -4)" accesskey="3" class="glyphicon glyphicon-arrow-up	 btn btn-info btn-fill btn-wd"><br />3</button>
        <button ng-click="move(0, 4)" accesskey="4" class="glyphicon glyphicon-arrow-down	 btn btn-info btn-fill btn-wd"><br />4</button>
        <button ng-click="size(0, 4)" accesskey="5" class="glyphicon glyphicon-text-height btn btn-info btn-fill btn-wd">+<br />5</button>
        <button ng-click="size(0, -4)" accesskey="6" class="glyphicon glyphicon-text-height btn btn-info btn-fill btn-wd">-<br />6</button>        
        <button ng-click="size(4, 0)" accesskey="7" class="glyphicon glyphicon-text-width	 btn btn-info btn-fill btn-wd">+<br />7</button>        
        <button ng-click="size(-4, 0)" accesskey="8" class="glyphicon glyphicon-text-width	 btn btn-info btn-fill btn-wd">-<br />8</button>
        <button ng-click="getSnippet()" accesskey="9" class="glyphicon btn btn-info btn-fill btn-wd">getdata<br />9</button>
    </div>
    <div id="container" class="col-md-4 max-height">
        <img id="scream" width="220" height="277" ng-src="{{myImage}}" alt="The Scream" style="display: none">
        <p>Canvas:</p>
        <canvas id="myCanvas" width="800" height="800" style="border:1px solid #d3d3d3;">
        </canvas>
        <div id="overlay" style=" background: rgba(255, 0, 0, 0.16);
                width: 40px;
                height: 40px;
                position: absolute;
                top: 30px;"></div>

    </div>
    <div  class="col-md-4">
        <canvas id="myCanvas1" width="320" height="420" style="border:1px solid #d3d3d3;">
        </canvas>
        <input type="text" placeholder="Field Type" ng-model="fieldtype">
        <button id="crop" ng-click="crop()">crop</button>

    </div>
</div>
